/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */





/*-------------------stilmallen-------------------------*/

body
{
background-color:#FFF; 
}


#topbar
{
background-color:#554840;
height:auto;
width:600px;
text-align:right;
font-size:9px;
font-family:verdana, Times New Roman;
font-style:italic;
color:#FFF;   
}



#menu
{
margin-top: 210px;
padding-left:5px;
text-transform:capitalize;    
}

#menu a
{
    display:none;
    }

#menu ul
{
list-style:none;
padding: 0px;
}

#menu ul li a
{
  color:#FFF;
  display: inline-block;  
  text-align:center; 
    }

#menu ul li{
text-align:center; 
color:#FFF;
position:relative;
display: inline-block; 
width:80px; 
padding:5px 5px 5px 5px; 
background:#7D766C; 
margin-right: -5px; 
margin-left:2px;


}

#menu ul li:hover
{
background:#EAE7D4;
}

#menu ul li a{
color:#FFF;
text-decoration:none;
}

#container
{
background-position:top 20px center;
background-image: url('pics/coffey.jpg');
background-repeat:no-repeat;
background-color:#554840;
max-width:600px;
margin:auto;
border: 1px solid;
}

#content
{
background-color:#EAE7D4;
text-align:left;
font-size:12px;
font-family:verdana, Times New Roman;
color:#777461;
overflow:  auto;
margin-top:-2.7%;    
}

#maincontent
{
background-color:#EAE7D4;
font-family:verdana, times new roman;
line-height:1.5;
float:left;
width: 60%;
padding: 5px;
border-right: 1px dashed #50483B;


}

#subcontent
{
background-color:#EAE7D4;
font-size:11px;
line-height:1.5;
margin-left:5px;
width: 200px;
float:left;    
}

#subcontent p, h1, h2, li
{
padding-left:5px;
}


#bottomcontent
{
background-color:#EAE7D4;
font-size: 9px;
font-style:italic;
margin-bottom:5px;
float:left;
width:600px;    
}


/*------------------------bildformatering-----------------------------*/

#maincontent img

{
float: left;
padding-left: 5px;
padding-right: 5px;   
}


/*---------li-lu-ol----formartering--------*/



#subcontent ul,ol,li
{
list-style:none;
}


#subcontent a
{
color:#000;
}

.maincontent a
{
display:none;
}


/*----------------------rubrikformateringar--------------------------*/

#subcontent h1
{
font-size: 14px;
font-family:new Times New Roman;
}

#maincontent h1
{
font-size: 25px;
font-family:new Times New Roman;    
}



